body {
    background-color: lightblue;
    background-image: url("gym.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

.name {
    font-family: "Book Antiqua";

}

.nav-item a {
    color: white;
}

.name {
    color: white;
    font-weight: bolder;
    padding-top: 20px;
    text-shadow: blue 1px 1px 10px;
}

.col-xl-3.endurance {
    border-right: 1px solid grey;
}

.col-xl-3.balance {
    border-right: 1px solid grey;
}

.col-xl-3.strength {
    border-right: 1px solid grey;
}

.navbar-nav .nav-link.active {
    color: white;
}

.clickablePencil {
    cursor: pointer;
}

.clickableTrash {
    cursor: pointer;
}

.btn.btn-tiny {
    padding: 0px;
    margin-left: 5px;
}


