@import "bootstrap/scss/bootstrap";

body {
  background-image: url("../../public/gym.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;

}

.name {
  font-family: "Book Antiqua";

}

.nav-item a {
  color: white;
}

.name {
  color: white;
  font-weight: bolder;
  padding-top: 20px;
  text-shadow: blue 1px 1px 10px;
}

.col-xl-3.endurance {
  border-right: 1px solid grey;
}

.col-xl-3.balance {
  border-right: 1px solid grey;
}

.col-xl-3.strength {
  border-right: 1px solid grey;
}

.navbar-nav .nav-link.active {
  color: white;
}

.navbar-nav .nav-link:hover {
  color: white;
}

.btn.btn-tiny {
  padding: 0px;
  margin-left: 5px;
}

.fa-circle-plus {
  font-size: 20px;
}

//form-check-label .exercise-name {
//  width: 50px;
//  overflow: hidden;
//  white-space: nowrap;
//  text-overflow: ellipsis;
//}
//.exercise-list-exercise{
//  flex: 1;
//  width: 250px;
//  overflow: hidden;
//  white-space: nowrap;
//  text-overflow: ellipsis;
//}
