@import "bootstrap/scss/bootstrap";

body {
  background-image: url("../../public/gym3.avif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;

}

.nav-item a {
  color: white;
}

.name {
  color: white;
  font-weight: bolder;
  padding-top: 20px;
  text-shadow: blue 3px 3px 20px;
}
.navbar-nav .nav-link.active {
  color: white;
}

.navbar-nav .nav-link:hover {
  color: white;
}

.btn.btn-tiny {
  padding: 0px;
  margin-left: 5px;
}

.fa-circle-plus {
  font-size: 20px;
}


.exercise-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.exercise-list-exercise {
  width: calc(33.33% - 10px);
}

.form-label {
  text-decoration: underline;
}

#app {
  font-family: 'Playfair Display', serif;
}

.addExerciseModal {
  text-align: start;
}

#five {
  font-size: x-large;
}

#trainingTitle {
  text-align: center
}

#exerciseListTitle {
  text-decoration: underline;
}

.card {
  background-color: white;
}

ul {
  list-style-type: none;
}

.delete-form-label {
  font-size: 1.5rem;
}

.selectBox.form-check-input {
  border-color: dodgerblue;
}

.custom-background {
  background-color: lightskyblue;
}

.accordion-button {
  background-color: white;
}